# Node modules
node_modules/

# Sass cache
.sass-cache/

# MacOS system files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE specific files
.vscode/
*.code-workspace

# Composer dependencies
/vendor/

/composer.lock

# PHPStorm project files
.idea/

# PHPUnit
.phpunit.result.cache

# Other system files
Thumbs.db